<div class="container text-align-center cl-8" id="big-container">
  <h1>mab digital & branding</h1>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(./banner02.jpg);">
    <div class="container" id="banner-content">
      <h1>mab é uma agência de marketing digital e branding<br>que <strong>conecta seu negócio com digital influencer</strong> ideal para sua persona</h1>
      <p>converse com seu público, sem telefone sem fio</p>
      <a class="btn btn-flat" href="#"><strong>Faça um orçamento</strong></a>
    </div>
  </div>
    <h2><strong>os clientes nos contratam para:</strong></h2>

  <div class="container card-container d-flex flex-direction-row" id="card-container">
    <div class="service-card">
      <img src="./branding.png" alt="digital influencer" class="icon">
      <p class="card-p"><strong>Consultoria de Branding</strong></p>
      <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
    </div>

    <div class="service-card">
      <img src="./nano-influencer.png" alt="digital influencer" class="icon">
      <p class="card-p"><strong>Marketing de Influência</strong></p>
      <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
    </div>

    <div class="service-card">
      <img src="./graphic-design.png" alt="digital influencer" class="icon">
      <p class="card-p"><strong>Social Media</strong></p>
      <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
    </div>

  </div>

  <h3><strong>Quem nós somos?</strong></h3>

  <div class="container team-container d-flex flex-direction-column justify-content-around">
    <div class="profile-card">
      <img src="anna.png" alt="Anna Clara Sodré" class="profile">
      <h4><a class="instagram" href="https://www.instagram.com/annaclarasodre/" target=”_blank”>@annaclarasodre</a></h4>
      <p class="bio">''anna clara, é apaixonada por psicologia e desenvolvimento pessoal, onde no seu instagram ajuda milhões de seguidores todos os dias''</p>
    </div>

    <div class="profile-card">
      <img src="may.png" alt="Mayara Botelho" class="profile">
      <h4><a class="instagram" href="https://www.instagram.com/mayarabotelho/" target=”_blank”>@mayarabotelho</a></h4>
      <p class="bio">''bloguerinha e tiktoker mayara é uma influencer digital com vasta experiência em marketing, branding e imagem pessoal''</p>
    </div>
  </div>
