<div class="container text-align-center cl-8" id="big-container">
  <div class="banner" style="background-image: url(./ban.png);">
    <div class="container" id="banner-content">
        <div class="phrase-container">
          <h1><strong>CONECTAMOS SEU NEGÓCIO COM DIGITAL INFLUENCER IDEAL PARA SUA PERSONA</strong></h1>
          <p>converse com seu público, sem telefone sem fio</p>
          <a class="btn btn-flat" href="#"><strong>CONSULTORIA GRATUITA</strong></a>
        </div>
    </div>
  </div>
    <h2><strong>Nossos serviços:</strong></h2>

  <div class="container card-container d-flex flex-direction-row" id="card-container">
    <div class="service-card">
      <div class="icon-card">
        <img src="./icon1.png" alt="digital influencer" class="icon">
      </div>
      <p class="card-p"><strong>Consultoria de Branding</strong></p>
      <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
    </div>

    <div class="service-card">
      <div class="icon-card">
        <img src="./icon2.png" alt="digital influencer" class="icon">
      </div>
      <p class="card-p"><strong>Marketing de Influência</strong></p>
      <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
    </div>

    <div class="service-card">
      <div class="icon-card">
        <img src="./icon3.png" alt="digital influencer" class="icon">
      </div>
      <p class="card-p"><strong>Social Media</strong></p>
      <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
    </div>

  </div>

  <h3><strong>Quem nós somos?</strong></h3>

  <div class="container team-container d-flex flex-direction-column justify-content-around">
    <div class="profile-card">
      <img src="anna.png" alt="Anna Clara Sodré" class="profile">
      <h4><a class="instagram" href="https://www.instagram.com/annaclarasodre/" target=”_blank”>@annaclarasodre</a></h4>
      <p class="bio">''anna clara, é apaixonada por psicologia e desenvolvimento pessoal, onde no seu instagram ajuda milhões de seguidores todos os dias''</p>
    </div>

    <div class="profile-card">
      <img src="may.png" alt="Mayara Botelho" class="profile">
      <h4><a class="instagram" href="https://www.instagram.com/mayarabotelho/" target=”_blank”>@mayarabotelho</a></h4>
      <p class="bio">''bloguerinha e tiktoker mayara é uma influencer digital com vasta experiência em marketing, branding e imagem pessoal''</p>
    </div>
  </div>
