
  <h1 class="text-align-center">Quem somos?</h1>

  <div class="container d-flex flex-direction-row justify-content-center">
    <div class="card-trip">
      <img class="avatar-bordered" alt="avatar-bordered" src="./ana-profile.jpeg" />
      <div class="card-trip-infos">
        <div>
          <h2>Anna Clara Sodré</h2>
          <p>Short description here!</p>
        </div>
      </div>
    </div>

    <div class="card-trip">
      <img class="avatar-large" alt="avatar-large" src="mayara-profil.jpeg" />
      <i></i>
      <div class="card-trip-infos">
        <div>
          <h2>Mayara Botelho</h2>
          <p>Short description here!</p>
        </div>
      </div>
    </div>

  </div>

  <div class="container form-contato">

  </div>

</div>

