.navbar-mab {
  justify-content: space-between;
  background: white;
  margin-right: 20px;
  height: 60px;
}

.navbar-mab .navbar-collapse {
  flex-grow: 0;
}

.navbar-mab .navbar-brand img {
  width: 40px;
}

#logo {
  width: 12%;
  height: 8%;
}
