// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url(https://fonts.googleapis.com/css2?family=Inter&display=swaps);

body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  // background-color: #E8E8F6;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  margin-left: 40px;
}


.phrase-container {
  width: 60%;
  margin-left: 40px;
  margin-bottom: 40px;
}

#banner {
  width: 100px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  width: 114%;
}

#banner-content {
  margin: 0;
  padding-left: 50px;
}

.banner h1 {
  margin: 0;
  color: rgba(0,0,0,0.8);
  font-size: 32px;
}

.banner p {
  font-size: 20px;  color: black;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 18px;
  background: rgb(232, 111, 229);
  transition: background 0.3s ease;
  box-shadow: 0 3px 3px rgba(0,0,0,0.4);
}

.btn-flat:hover {
  background: #6E4EB9;
  color: white;
}

#big-container {
  margin: 0;
  padding: 0px;
  width: 115%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#navbar {
  margin: 0;
}
