h3 {
  text-align: center;
  margin-left: 160px;
}

.profile {
  width: 150px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 2px solid;
  margin-bottom: 20px;
}

.team-container {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  margin-left: 100px;
}

.bio {
  font-style: italic;
}

.instagram {
 color: #ff016e;
 margin-bottom: 10px;
}
.profile-card {
  border: 0.5px rgb(242, 242, 242) solid;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  width: 30%;
}
